@media (min-width:767px) {
  header {position:fixed; top:0; left:0; right:0; z-index:900;}
  header .header-top {transition:all 0.5s;}
  header.small {border-bottom: 10px solid var(--secondary-color);}
  header.small .header-top {height:0px; overflow:hidden; padding:0;}

  main.home, .page-hero {margin-top:186px;}
}

/* Product Details
   ========================================================================== */

.product-details-tabs {
  padding:0 35px;
  margin-bottom:35px;
}
.product-details-tabs ul {
  display:flex;
  gap:25px;
  justify-content: flex-start;
}
.product-details-tabs ul li {
  cursor: pointer;
  font-family: var(--primary-headline-font-family), Arial, sans-serif;
  padding:10px 25px;
  font-weight:400;
  color:var(--secondary-color);
  text-transform: uppercase;
  border:solid thin #000;
  font-size:1.5rem;
  transition: 0.5s all;
}
.product-details-tabs ul li:hover,
.product-details-tabs ul li.active {
  background:black;
}

@media (max-width:800px) {
  .product-details-tabs ul li {font-size:1rem;}
}

.product-details-info > div {
  display:none;
}
.product-details-info > div.active {
  display:block;
}

/* Block
   ========================================================================== */

.list-dropper {display:block; background:white; border:solid thin #333; max-width:1024px; margin:0 auto 30px; cursor:pointer;}
.downloads-list {margin:0 auto; max-width:1024px; font-size:120%; border:solid thin #333;}
.list-dropper .downloads-list {display:none;}
.list-dropper .downloads-list {border:none;}
.downloads-list a:hover {text-decoration: none;}
.downloads-list li,
.list-dropper span {padding:5px 20px; background:white; list-style:none; font-weight:500;}
.downloads-list li:nth-child(odd) {background:#fef0d9;}
.downloads-list p,
.list-dropper span p {margin:5px 0;}
.downloads-list a,
.list-dropper > a,
.list-dropper > span {
  color:#000;
  font-family: var(--primary-font-family);
  padding:0 40px 0 20px;
  position: relative;
  transition:all 0.5s;
  display:block;
  font-size:90%;
}
.list-dropper > span {line-height:1.5; font-family:var(--primary-headline-font-family); padding:10px 57px 10px 40px; display:block; font-size:130%;}
.downloads-list a::before,
.list-dropper > span::before {
  transform:translateY(-50%);
  content: "\f063";
  transition:all 0.5s;
  font-weight: 900;
  font-family: 'Font Awesome 6 Free';
  color:var(--primary-color);
  position: absolute;
  font-size:1rem;
  right:10px;
  top:50%;
}
.list-dropper > span::before {right:30px;}
.list-dropper.up span::before {content:"\f062";}
.downloads-list p:nth-child(2),
.list-dropper span p:nth-child(2) {text-transform:uppercase;}

.downloads-list li a {font-weight:600;}

@media (min-width: 768px) {
  .downloads-list li a,
  .list-dropper span {display:flex; align-items:center}
  .downloads-list p,
  .list-dropper span p {width:50%;}
  .downloads-list p:nth-child(2),
  .list-dropper span p:nth-child(2) {text-align:right;}
}

@media (max-width: 768px) {
  .downloads-list p {text-align:center;}
}

main .inline-list {margin-left:0;}
.inline-list li {display:inline-block; list-style:none; line-height:1; position:relative; padding-left:0;}
.inline-list.pad-more li {padding-left:15px; padding-right:15px;}
.inline-list.line-seperator li {border-right:solid 1px #333; margin-left:-4px;}
.inline-list.line-seperator li:last-child,
.inline-list.line-seperator.monitor-last-item li.last-item {border-right:none;}
.inline-list.carrot-seperator li {padding-right:15px;}
.inline-list.carrot-seperator li:last-child {padding-right:0;}
.inline-list.carrot-seperator li:after {content:"\00BB"; position:absolute; top:50%; right:0; transform:translateY(-50%);}
.inline-list.carrot-seperator li:last-child:after {display:none;}
.inline-list li:last-child {margin-right:0; padding-right:0;}
.inline-list.line-seperator.white-lines li {border-color:white;}
.inline-list.border-top {border-top:solid thin #333; margin-top:10px; padding-top:10px; padding-left:30px;}
.inline-list li a {display:block; line-height:1.5; padding:3px 8px; border-bottom:solid thin rgba(255,255,255,0); transition:all 0.5s;}
.inline-list.no-leading li {margin-bottom:10px;}
.inline-list.no-leading li a {line-height:1;}
.inline-list.no-pad-a li a {padding:3px 0;}
.inline-list li a:hover,
.inline-list li a.active {text-decoration:none; border-color:var(--primary-color); color:var(--primary-color);}

@media (min-width: 768px) {
  .md\:inline-list li {display:inline-block; list-style:none; line-height:1; position:relative;}
  .md\:inline-list.line-seperator li {border-right:solid 1px #333; margin-left:-4px;}
  .md\:inline-list.line-seperator li:last-child {border-right:none;}
  .md\:inline-list.carrot-seperator li {padding-right:15px;}
  .md\:inline-list.carrot-seperator li:last-child {padding-right:0;}
  .md\:inline-list.carrot-seperator li:after {content:"\00BB"; position:absolute; top:50%; right:0; transform:translateY(-50%);}
  .md\:inline-list.carrot-seperator li:last-child:after {display:none;}
  .md\:inline-list li:last-child {margin-right:0; padding-right:0;}
  .md\:inline-list.line-seperator.white-lines li {border-color:white;}
  .md\:inline-list.border-top {border-top:solid thin #333; margin-top:10px; padding-top:10px; padding-left:0;}
  .md\:inline-list li a {display:block; padding:3px 8px; line-height:1.5; border-bottom:solid thin rgba(255,255,255,0);}
  .md\:inline-list li a:hover,
  .md\:inline-list li a.active {text-decoration:none; border-color:#333;}
}

#menu li a:hover,
#menu li a.active {color:white; background-color:var(--primary-color)}

.big-callout a {position:relative; display:block;}
.big-callout .callout-text {position:absolute; bottom:0; left:0; right:0; padding:15px 0 20px; background-color:rgba(0,0,0,0.25);}
.big-callout .callout-text .fa-arrow-right {
  position:absolute;
  content:"\f061";
  padding:5px 10px;
  background-color:white;
  color:var(--primary-color);
  top:50%;
  right:5%;
  transform:translateY(-50%);
}

.b3-shadow {box-shadow: 0 0px 15px 5px rgb(0 0 0 / 0.3), 0 8px 10px -6px rgb(0 0 0 / 0.3);}
.b3-dark-shadow {
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
}

a.no-td,
a.no-td:hover {text-decoration:none;}

.pos-center-bottom {position:absolute !important; bottom:2.5rem; left:50%; transform:translateX(-50%);}

.border-round {border-radius:50%; overflow:hidden;}

input[type="number"].qty-field {width:70px; background:white; margin-bottom:0; border:solid thin #333; padding-top:2px; padding-bottom:2px;}

.mh-235 {min-height:235px;}
.mh-200 {min-height:200px;}
.mh-180 {min-height:180px;}

.har-1\/2 {height:0; padding-top:50%}

.b3-rounded-border {
  border-radius: 25px;
  overflow: hidden;
  border:solid thin #ccc;
}

/* Arrow Link
   ========================================================================== */

a.arrow-link {padding-right:20px; display:block; background:url('../imgs/blue-arrow.svg') center right no-repeat; background-size:auto 50%;}

/* B3 Button
   ========================================================================== */

.b3-button {
  text-transform: uppercase;
  color:#000;
  font-family: var(--primary-headline-font-family);
  position: relative;
  transition:all 0.5s;
  padding:5px 40px 7px 20px;
  background-color:white;
  display:inline-block;
  border:solid thin #000;
  font-size:90%;
}

.b3-button:not(.no-arrow)::before {
  transform:translateY(-50%);
  content: "\f061";
  transition:all 0.5s;
  font-weight: 900;
  font-family: 'Font Awesome 6 Free';
  color:var(--primary-color);
  position: absolute;
  font-size:1rem;
  right:10px;
  top:50%;
}
.b3-button:hover {
  text-decoration: none;
  background-color:var(--primary-color);
  color:white;
}
.b3-button:hover::before {color:white;}
.b3-button.bottom-stick {position:absolute; bottom:2rem; left:50%; transform: translateX(-50%);}

.lines-bg {background:url('/assets/imgs/lines-bg.jpg') bottom center no-repeat; background-size:100% auto;}

.b3-button.smaller {padding:3px 25px 4px 10px;}
.b3-button.black {background:black; color:var(--secondary-color);}
.b3-button.black:hover {background:transparent;}
.b3-button.black::before {color:white;}
.b3-button.black:hover::before {color:black;}
.b3-button.no-arrow {padding:5px 20px 7px;}
.b3-button.smaller.no-arrow {padding:3px 10px 4px 10px;}
.b3-button.smaller.no-arrow input {padding:0;}

.b3-button input {
  padding:0;
  background:transparent !important;
  padding:0 10px 0 0;
  color:#000;
  border:none;
  text-transform:uppercase;
}
.b3-button.black input {color:var(--secondary-color);}

.b3-button.white-text input {color:white;}
.b3-button.white-text:hover input {color:#333 !important; background-color: white;}

/* Video Slider
   ========================================================================== */

.b3-video-thumb {overflow: hidden;}
.b3-video-thumb:after {content:""; background:url('../imgs/video-arrow.svg') center no-repeat; width:75px; height:75px; background-size:contain; position:absolute; top:50%; left:50%; transform: translateX(-50%) translateY(-50%); opacity: 0; transition:all 0.5s;}
.b3-video-thumb:hover:after {opacity: 1;}
.b3-video-thumb img {transition:all 0.5s;}
.b3-video-thumb:hover img {-webkit-filter: grayscale(100%); filter: grayscale(100%);}

.video-nav {display:inline-block; border:solid thin #333; padding:3px 12px;}
.video-nav span {font-family:var(--primary-headline-font-family); font-size:140%; display:inline-block; padding:5px 1px 1px; margin: 0 5px 4px; cursor: pointer; border-bottom:solid thin var(--primary-color); color:var(--primary-color);}
.video-nav span.active {color:#333333; border-bottom:none;}

/* Header
   ========================================================================== */

.header-top {background-color:var(--primary-color);}
.header-flag {width:25px;}
.header-flag.us {margin-left:15px;}
.header-flag.me {margin-right:15px;}
.header-flag img {margin-bottom:-3px;}
header .logo {max-width:200px;}
header a {font-family: var(--secondary-font-family);}

#menu .fa-solid, .hamburger-icon {font-size:25px; display:none;}

#menu ul ul {display:none;}

@media (max-width: 767px) {
  #menu {position:fixed; transition:all 0.5s; top:0; left:0; z-index:500; bottom:0; background-color:var(--primary-color); width:0; overflow:hidden;}
  #menu.open {width:80vw;}
  #menu .menu-inner {padding:10vw; width:80vw;}
  #menu a {color:white;}
  #menu .menu-close {font-size:35px; color:white; position:absolute; top:15px; right:15px;}
  #menu .fa-solid.fa-circle-xmark,
  .hamburger-icon {display:block;}
}

/* Submenu */
.header-submenu {display:none;}

#submenu {
	position:absolute;
	top:100%;
	left:0;
	right:0;
	width:100%;
	z-index: 1;
  background-color:rgba(6,47,135,0.7);
}

.b3-submenu {width:100%; margin:0; display:none;}
.b3-submenu.keep-alive {display:block;}
.b3-submenu section {padding:20px 50px; overflow:hidden;}
.b3-submenu .submenu {display:none;}
.b3-submenu .submenu.keep-alive {display:block;}
.b3-submenu ul {text-align:right; display:block;}
.b3-submenu ul.subs {display:flex; justify-content: flex-end; align-items: flex-start;}
.b3-submenu ul li {vertical-align: top; line-height:1.2em; margin-bottom:5px;}
.b3-submenu > ul > li {display:inline-block; margin:5px 0 5px 30px;}
.b3-submenu li.end-of-row {border-right:none;}
.b3-submenu li:last-child:after {display:none;}
.b3-submenu li a {text-decoration: none; text-transform:uppercase; color:white; font-size:80%;}
.b3-submenu > ul > li > a {font-weight:bold;}

.submenu-select {display:none; width:92% !important; max-width:600px; margin:0 auto;}

#menu ul ul {display:none;}
#menu .the-menu > li > ul {margin:5px 0 5px 15px;}
#menu i {color:white; font-size:35px;}

@media (min-width:767px) {
  
}

@media (max-width:767px) {
	#submenu {display:none !important;}

  #menu .fa-plus {display:block;}
  #menu li {position: relative;}
  #menu li i {position: absolute; right:0; top:-5px; line-height:1;}
  #menu li i.fa-minus {font-size:22px;}
}

/* Brand Window
   ========================================================================== */

#brand-window {position:relative; overflow:hidden; height:45vw; width:100%; border-bottom:solid 10px var(--secondary-color);}
#brand-window .brand-image {position:absolute; top:0; left:0; height:100%; width:100%; display:none; cursor:pointer; }
#brand-window .brand-image .brand-image-img {transition:transform 25s; transform: scale(1); background-position:center bottom; background-size:cover; height:100%; width:100%; background-repeat:no-repeat; top:0; left:0; position:absolute;}
#brand-window .brand-image.active {display:block;}
#brand-window .brand-caption {display:inline-block; position:absolute; bottom:10%; right:5%; width:45%; text-align:right; padding:15px 0px 15px 0px; color:#fff;}
#brand-window .brand-caption h1 {font-size:3.5vw; line-height:1.5em;}
#brand-window.zooming .brand-image .brand-image-img {-ms-transform: scale(1.2); transform: scale(1.2);}

@media (max-width:1250px) {
	#brand-window {height:600px;}
}

.page-hero {background-position:center; background-repeat:no-repeat; background-size:cover; border-bottom:10px solid var(--secondary-color);}

/* Footer
   ========================================================================== */

.footer-logo {max-width:200px;}

.social-icons li {display:inline-block; margin:0 2px;}
.social-icons i {font-size:30px; color:#595B5E;}

/* Search
   ========================================================================== */

.search-icon {color:white; font-size:16px; cursor:pointer;}

.search-overlay {height: 100vh; width: 100%; display: none; position: fixed; z-index: 1000; top: 0; left: 0; background-color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0.65);}
.search-overlay-content {position: relative;top: 46%;  width: 50%;  text-align: center;  margin: auto;}
.search-overlay .icon-cancel {position: absolute;top: 20px;right: 45px;font-size: 40px;cursor: pointer;color: white;}
.search-overlay .icon-cancel:hover {color: #ccc;}
.search-overlay input[type=text] {padding: 15px;font-size: 17px;border: none;float: left;width: 80%;background: white;}
.search-overlay input[type=text]:hover {background: #f1f1f1;}
.search-overlay button {float: left;width: 20%;padding: 15px;background: #6daf54;font-size: 17px;border: none;cursor: pointer;color: #fff;}
.search-overlay button:hover {background: #007fc8;}

@media (max-width: 767px) {
    .search-overlay-content {width: 80%;}
    .search-overlay .icon-cancel {top: 15px;right: 15px;}
}

/* Mapbox
   ========================================================================== */

#small-map {padding-top:100%;}
#full-map {max-height:800px; height:100vh;}
.mapboxgl-ctrl-bottom-right {opacity:0;}
.map-marker {cursor: pointer; display:none;}
.map-marker.active {display:block;}
.map-marker .inner {display:none;}
.map-marker i {font-size:30px;}
.map-icon {height:75px; color:var(--secondary-color); width:50px; background-size:contain; background-repeat: no-repeat; cursor:pointer;}

#full-map #full-reset {
  display:none;
  border:solid thin var(--primary-color);
  background-color:white;
  border-radius:5px;
  position: absolute;
  bottom:5%;
  left:50%;
  transform:translateX(-50%);
  z-index: 1000;
  padding:5px 10px;
  text-transform: uppercase;
  text-decoration: none !important;
  font-weight:bold;
}

#full-map #full-reset.active {
  display:block;
}

@media (max-width:1200px) {
  #full-map {max-height:700px;}
}

@media (max-width: 767px) {
  #full-map {max-height:600px;}
}

#map-detail.active {
  padding: 0rem;
  background-color: rgba(197, 192, 159, 0.87);
  position: absolute;
  background: #fff;
  height: 100%;
  opacity: 1;
  -webkit-box-shadow: 0px 1px 46px rgba(0, 0, 0, .5);
  box-shadow: 0px 1px 46px rgba(0, 0, 0, .5);
  visibility: visible;
}
#map-detail {
  position: absolute;
  padding: 0rem;
  z-index: 900;
  background-color: rgba(197, 192, 159, 0.87);
  opacity: 0;
  width: 26%;
  max-height: 420px;
  height: auto;
  bottom: 0px;
  top: 50%;
  left: 115px;
  transform: translateY(-153px);
  margin: 0;
  box-shadow: 0 10px 45px rgba(0,0,0,0.45);
  transition: opacity 1s ease 0s,height 1s ease 0s,box-shadow .5s ease 0s;
  visibility: hidden;
}
@media (max-width:1400px) {
  #map-detail {left: 50px; width: 29%;}
}
#map-detail .company_title {
  background: #00AEEF;
  padding: .5rem 1rem;
  color: #fff;
  font-size: 19px;
  line-height:1.3;
}
#map-detail .company_title.home {
  background:#f2a03e;
}
#map-detail .inset {padding: .5rem 1rem; height: 339px; overflow: auto;}
#map-detail .inset p {line-height:1.4; font-size:15px; margin-bottom:15px;}
#map-detail .inset h4 {margin-bottom:5px; font-size:18px; color: var(--primary-color); line-height:1.5;}
#map-detail img {width:100%; margin-bottom:15px; object-fit: cover; height:200px;}
#map-detail a {color:var(--primary-color);}

#map-detail .reset {
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  right: 15px;
}

@media (max-width:850px) {
  #map-detail {width:90%; top:20px; left:20px; transform: translateY(0); z-index: 1000001;}
  #map-detail .company_title {font-size:18px;}
  #map-detail .inset p {font-size:16px;}
}

/* Form Elements
   ========================================================================== */

.submit-button {color:transparent; height:75px; width:150px; display:inline-block; background:url('/assets/imgs/submit-btn.svg') center right no-repeat; background-size:contain; border:none;}
.submit-button:hover {background-color:transparent; color:transparent;}
.submit-button.smaller {width:100px; height:50px;}

/* Pretty checkbox
   ========================================================================== */

.better-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height:1.5;
  margin-bottom:3px;
}

.better-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.better-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border:solid thin black;
}

.better-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

.better-checkbox input:checked ~ .checkmark {
  background-color: var(--primary-color);
}

.better-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.better-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.better-checkbox .checkmark:after {
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Filter Drop
   ========================================================================== */

.filter-drop {
  padding:0 1.25rem;
  margin-top:1.25rem;
}

.filter-drop.active {
  padding:0 1.25rem 1.25rem;
  --tw-text-opacity: 1;
  color: rgba(107,114,128,var(--tw-text-opacity));
  border-bottom-width: 1px;
  border-style: solid;
}

.filter-drop h4 {
  color:var(--primary-color); 
  font-weight:400;
  padding-left:25px;
  position: relative;
  cursor:pointer;
  margin-bottom:15px;
}

.filter-drop h4:before {
  content:"+";
  display:inline-block;
  padding:0 2px;
  line-height:1;
  border:solid thin black;
  position:absolute;
  top:50%;
  left:0;
  transform:translateY(-50%);
  color:black;
  font-weight:normal;
  font-family:Arial;
  font-size:14px;
}

.filter-drop.active h4:before {
  content:"-";
  font-size:16px;
  padding:0 4px;
}

.filter-drop ul {
  display:none;
  margin-left:25px;
  margin-bottom:0;
}

.filter-drop.active ul {
  display:block;
}

.filter-drop ul li {
  padding-left:0;
  list-style: none;
}

/* Keyword Search Form
   ========================================================================== */

.search-form .input-group {
  border:solid thin black;
  display:inline-block;
  width: 100%;
  max-width: 240px;
}

.search-form input[type="search"] {
  background-color: #fafafa;
  padding: 8px 21px;
  color: #333333;
  vertical-align: top;
  border: 0;
  height: 36px;
  margin: 0;
  border-radius: 0;
  float: left;
  font-size:14px;
  max-width: 190px;
  width:65%;
  font-family: var(--primary-headline-font-family);
}

.search-form .input-group.no-button input[type="search"] {
  width:calc(100% - 42px);
}

.search-form input[type="search"]::placeholder {
  color: #333333;
  font-weight: bold;
  text-transform: uppercase;
}

.search-form button[type="submit"] {
  font-weight: bold;
  padding: 6px 10px;
  color: var(--primary-color);
  margin: 0;
  height: 36px;
  float: right;
  border: 0;
  border-radius: 0;
}

.search-form input[type="search"] {
  height: 17px !important;
}
.search-form button[type="submit"] {
  height:33px !important;
}

.search-form button[type="submit"]:hover {
  background-color: gray;
  color: #fafafa;
}

/* Product Table
   ========================================================================== */

.product-table .product-table-container {
  padding:0 50px;
}

.product-table .product-table-details {
  width:100%;
  display:block;
  --tw-text-opacity: 1;
  color: rgba(107,114,128,var(--tw-text-opacity));
  border-top-width: 1px;
  border-style: solid;
  padding:10px 0;
  margin:10px 0;
}

.product-table .product-table-details:first-child {
  border-top-width: 0px;
}

.product-table .product-table-details > div {
  padding:5px;
  text-align:center;
}

.product-table .product-table-details .image img {
  width:100%;
  max-width:80px;
  margin:0 auto;
  display:block;
}

.product-table .product-table-details .title {
  padding:20px 0;
}

.product-table .product-table-details .title p {
  margin:0;
}

.product-table .product-table-details .title a {
  text-decoration: none;
  text-transform: uppercase;
  color:var(--primary-font-color);
  
}

.product-table .product-table-details .cart .flex {
  justify-content: center;
}

@media (min-width:980px) {
	.product-table .product-table-details {
    display:flex;
    justify-content:center;
    align-items:center;
    margin:5px 0;
    padding:10px 0;
  }

  .product-table .product-table-details .title {
    text-align:left;
    padding:0;
  }

  .product-table .product-table-details .cart .flex {
    justify-content: flex-end;
  }

  .product-table .product-table-details .image {
    width:15%;
  }

  .product-table .product-table-details .title {
    width:60%;
  }

  .product-table .product-table-details .cart {
    width:35%;
  }
}

/* Product Table Nav
   ========================================================================== */

#tribPagingTop {
  margin:0 50px;
  font-family:var(--primary-headline-font-family);
  text-align:left;
  text-transform:uppercase;
  font-weight:500;
  color:var(--primary-font-color);
  font-size:1rem;
  padding-bottom:40px;
  line-height:1em;
}

#tribPagingTop .resultCount {
  position:absolute;
  font-weight:300;
  right:0;
  color:var(--primary-font-color);
}

#tribPagingTop a {
  cursor: pointer;
  color:var(--primary-color);
  margin:0 10px;
  font-size:1.75rem;
}

#tribPagingTop .navPrev {
  margin-right:20px;
}

#tribPagingTop .navNext {
  margin-left:20px;
}

@media (min-width:900px) {
  #tribPagingTop {
    text-align:center;
    font-size:1.35rem;
  } 
}

/* B3 Select
   ========================================================================== */

.b3-select {
  padding: 5px 15px; 
  background-color: black; 
  position: relative; 
  background:black url('/assets/imgs/down-arrow.svg') center right 15px no-repeat; 
  background-size:auto 20px;
  display:inline-block;
}

.b3-select select {
  border: none; 
  text-transform:uppercase; 
  font-family: var(--primary-headline-font-family); 
  appearance: none; 
  background:none; 
  min-width:150px; 
  padding: 0 50px 0 0; 
  outline: none; 
  resize: none; 
  font-size: 100%; 
  color: var(--secondary-color);
  margin:0;
}

.b3-select select::-ms-expand {
  display: none;
}

.b3-select select option {
  font-size:14px;
}

.b3-select.white {
  background-color: white;
  border:solid thin black;
  background-image:url('/assets/imgs/down-arrow-blk.svg');
}

.b3-select.white select {
  color: #333333;
  font-family: var(--primary-headline-font-family);
  font-weight: bold;
  font-size: 14px;
}

/* Grid Borders
   ========================================================================== */

.grid-borders > div {
  border-style: solid;	
  border-color: rgba(156, 163, 175, 1);
  border-bottom-width:1px;
}

.grid-borders > div:last-child {
  border-bottom-width:0px;
}

@media (min-width:768px) {
  .grid-borders > div:nth-child(odd) {
    border-right-width: 1px;
  }

  .grid-borders > div:nth-last-child(-n+2) {
    border-bottom-width:0px;
  }
}

@media (min-width:1024px) {
  .grid-borders > div {
    border-right-width: 1px;
  }

  .grid-borders > div:nth-child(3n) {
    border-right-width: 0px;
  }

  .grid-borders > div:nth-last-child(-n+3) {
    border-bottom-width:0px;
  }
}
